/*
 * react-calendar-heatmap styles
 *
 * All of the styles in this file are optional and configurable!
 * The github and gitlab color scales are provided for reference.
 */

* {
  font-family: "Roboto", sans-serif;
}
.tooltip {
  width: 210px;
  text-align: left;
}

.inputPaper {
  padding: 50px;
  margin: 0 auto;
  width: 60%;
}
.centerer {
  display: inline-block;
  height: 100%;
  padding-left: 5px;
  padding-right: 5px;
}
.square {
  position: relative;
  width: 15px;
  display: inline-block;
  vertical-align: middle;
  margin: 1px;
  border-radius: 3px;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.container {
  height: auto;
  min-width: 200px;
  padding: 20px 50px 20px 10px;
  width: 60%;
  border: 3px solid #d0d7de;
  border-radius: 5px;
  margin: 0 auto;
  display: block;
  overflow: hidden;
  direction: rtl;
}
.react-calendar-heatmap {
  margin: 0;
  position: relative;
  min-width: 960px;
  align-content: right;
  direction: ltr;
}

rect {
  rx: 2;
}
.react-calendar-heatmap text {
  font-size: 10px;
  fill: #aaa;
}

.react-calendar-heatmap .react-calendar-heatmap-small-text {
  font-size: 5px;
}

.react-calendar-heatmap rect:hover {
  stroke: #555;
  stroke-width: 1px;
}

/*
 * Default color scale
 */

.react-calendar-heatmap .color-empty {
  fill: #eeeeee;
}

.react-calendar-heatmap .color-filled {
  fill: #8cc665;
}

/*
 * Github color scale
 */

.react-calendar-heatmap .color-scale-1 {
  fill: #d6e685;
}
.react-calendar-heatmap .color-scale-2 {
  fill: #8cc665;
}
.react-calendar-heatmap .color-scale-3 {
  fill: #44a340;
}
.react-calendar-heatmap .color-scale-4 {
  fill: #1e6823;
}

/*
 * Gitlab color scale
 */

.react-calendar-heatmap .color-gitlab-0 {
  fill: #ededed;
}
.react-calendar-heatmap .color-gitlab-1 {
  fill: #acd5f2;
}
.react-calendar-heatmap .color-gitlab-2 {
  fill: #7fa8d1;
}
.react-calendar-heatmap .color-gitlab-3 {
  fill: #49729b;
}
.react-calendar-heatmap .color-gitlab-4 {
  fill: #254e77;
}
